.main-content {
  margin: 0 auto;
  background: linear-gradient(
    to bottom,
    var(--space-black),
    var(--space-deep-blue)
  );
  background-image: radial-gradient(
      1px 1px at 20px 30px,
      var(--star-color),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(1px 1px at 40px 70px, var(--star-color), rgba(0, 0, 0, 0)),
    radial-gradient(1px 1px at 50px 160px, var(--star-color), rgba(0, 0, 0, 0)),
    radial-gradient(1px 1px at 90px 40px, var(--star-color), rgba(0, 0, 0, 0)),
    radial-gradient(1px 1px at 130px 80px, var(--star-color), rgba(0, 0, 0, 0)),
    radial-gradient(1px 1px at 160px 120px, var(--star-color), rgba(0, 0, 0, 0));
  min-height: calc(100vh - 70px); /* Subtract navbar height */
}

.main-content.no-navbar {
  min-height: 100vh; /* Full viewport height when no navbar */
  padding-top: 0;
}
